<template>
  <AdminHeader @search-input="searchStudents" />
  <div class="px-24 bg-slate-200 pt-10">
    <BaseTable :columns="columns" :items="studentsStore.getStudents" :items-count="studentsStore.students_count"
      :page-size="filterQuery.page_size" :page="filterQuery.page" @change-page="changePage">
      <template #cell(index)="data">
        {{ (data.index + 1) + ((filterQuery.page - 1) * filterQuery.page_size) }}
      </template>
      <template #cell(institute)="row">
        {{ row.data.institute.name }}
      </template>
      <template #cell(given)="row">
        {{ useMoneyFormat(row.data.given) }}
      </template>
      <template #cell(contract)="row">
        <div class="text-center">
          {{ useMoneyFormat(row.data.contract) }}
        </div>
      </template>
      <!-- <template #cell(get_status_display)="row">
          <span>
            {{  }}
          </span>
        </template> -->
      <template #cell(actions)="row">
        <BaseButton class="border-0 px-5 py-3" @click="goToStudentDetail(row.data.id)">
          <EyeIcon class="w-4 text-blue-400" />
        </BaseButton>
      </template>
    </BaseTable>
  </div>
</template>
  
  <script setup lang="ts">
import { useStudents } from '@/stores/students'
import { getFormattedDate } from '@/composables/useDateFormatter'
import { useMoneyFormat } from '@/composables/useMoneyFormat'
import { EyeIcon } from '@heroicons/vue/solid'

const router = useRouter()

const studentsStore = useStudents()
const columns = ref([
  {
    key: 'index',
    label: '#'
  },
  {
    key: 'full_name',
    label: 'F.I.SH'
  },
  {
    key: 'type',
    label: 'Talabalik turi',
    class: 'text-center'
  },
  {
    key: 'institute',
    label: 'OTM',
    class: 'text-center'
  },
  {
    key: 'given',
    label: 'Ajratilgan summa',
    class: 'text-center'
  },
  {
    key: 'contract',
    label: 'Kontrakt miqdori'
  },
  {
    key: 'actions',
    label: 'Amallar'
  }
])
const items = ref([
  {
    first_name: 'Sherzod',
    last_name: 'Mangliev',
  },
  {
    first_name: 'Sherzod',
    last_name: 'Mangliev',
  }
])

const filterQuery = reactive({
  page: 1,
  page_size: 10,
  search: ''
})
onMounted(() => {
  studentsStore.fetchStudents(filterQuery)
})

const changePage = (page: number) => {
  filterQuery.page = page
  studentsStore.fetchStudents(filterQuery)
}

const goToStudentDetail = (id: number) => {
  router.push(`/admin/students/${id}`)
}

const searchStudents = (text: string) => {
  filterQuery.search = text
  studentsStore.fetchStudents(filterQuery)
}
</script>
  
  <style scoped>
  </style>
  