<template>
  <AdminHeader @searchInput="searchSponsors" @filterClicked="showModal = true" />
  <div class="px-24 bg-slate-200 pt-10">
    <BaseTable :columns="columns" :items="sponsorsStore.getSponsors" :items-count="sponsorsStore.sponsors_count"
      :page-size="filterQuery.page_size" :page="filterQuery.page" @change-page="changePage">
      <template #cell(index)="data">
        {{ (data.index + 1) + ((filterQuery.page - 1) * filterQuery.page_size) }}
      </template>
      <template #cell(created_at)="row">
        {{ getFormattedDate(row.data.created_at) }}
      </template>
      <template #cell(sum)="row">
        {{ useMoneyFormat(row.data.sum) }}
      </template>
      <template #cell(spent)="row">
        <div class="text-center">
          {{ useMoneyFormat(row.data.spent) }}
        </div>
      </template>
      <!-- <template #cell(get_status_display)="row">
          <span>
            {{  }}
          </span>
        </template> -->
      <template #cell(actions)="row">
        <BaseButton class="px-5 py-3 border-0" @click="goToSponsorDetail(row.data.id)">
          <EyeIcon class="w-4 text-blue-400" />
        </BaseButton>
      </template>
    </BaseTable>
    <BaseModal @closed="showModal = false" :show="showModal" title="Filter">
      <div>
        <label for="apply-status">Ariza holati</label>
        <VSelect id="apply-status" :options="status_options" />
      </div>
      <div class="mt-4">
        <label for="sposnorshim-summ">Homiylik summasi</label>
        <div class="grid grid-cols-4 gap-6">
          <BaseButton @click="matchAllSum" class="px-5 py-3 rounded-md" :class="{'bg-gray-200': filter.sponsorship_summ.length === 0}">
            Barchasi
          </BaseButton>
          <BaseButton @click="toggleSumBtn(option.id)" v-for="option in staticsStore.tariffs" :key="option.id"
            class="bg-white rounded-md border border-gray-200 px-5 py-3"
            :class="{ 'border-2 border-blue-200': filter.sponsorship_summ.includes(option.id) }">
            {{ option.summa }}
          </BaseButton>
        </div>
      </div>
      <div class="mt-4">
        <label for="">Sana</label>
        <Datepicker v-model="filter.date" format="dd.MM.yyyy" modelType="dd.MM.yyyy" range :enableTimePicker="false" />
      </div>
      <div class="flex justify-end mt-5">
        <BaseButton class="text-gray-500 text-xs rounded-md px-5 py-2 bg-inherit mr-5 border-slate-400 border-2 hover:bg-gray-100">
          Tozalash
        </BaseButton>
        <BaseButton class="text-white text-xs rounded-md px-5 py-2 bg-indigo-600 hover:bg-indigo-500">
          Natijalarni ko'rish
        </BaseButton>
      </div>
    </BaseModal>
  </div>
</template>
  
  <script setup lang="ts">
import { useSponsors } from '@/stores/sponsors'
import { useStatics } from '@/stores/statics'
import { getFormattedDate } from '@/composables/useDateFormatter'
import { useMoneyFormat } from '@/composables/useMoneyFormat'
import { EyeIcon } from '@heroicons/vue/solid'
import VSelect from 'vue-select'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import { status_options, sposnorshim_summ_options } from '@/composables/useStaticVars'

const router = useRouter()
const route = useRoute()

const sponsorsStore = useSponsors()
const staticsStore = useStatics()
const columns = ref([
  {
    key: 'index',
    label: '#'
  },
  {
    key: 'full_name',
    label: 'F.I.SH'
  },
  {
    key: 'phone',
    label: 'Telefon raqam'
  },
  {
    key: 'sum',
    label: 'Homiylik summasi'
  },
  {
    key: 'spent',
    label: 'Sarflangan summa',
    class: 'text-center'
  },
  {
    key: 'created_at',
    label: 'Sana'
  },
  {
    key: 'get_status_display',
    label: 'Holati'
  },
  {
    key: 'actions',
    label: 'Amallar'
  }
])

const showModal = ref(false)

const filter = reactive({
  date: [],
  sponsorship_summ: []
})

const filterQuery = reactive({
  page: 1,
  page_size: 10,
  search: ''
})
onMounted(() => {
  sponsorsStore.fetchSponsors(filterQuery)
  staticsStore.fetchPaymentTypes()
  staticsStore.fetchTariffs()
  filter.date = ['02.08.2022', '12.08.2022']
})

const changePage = (page: number) => {
  filterQuery.page = page
  sponsorsStore.fetchSponsors(filterQuery)
}

const goToSponsorDetail = (id: number) => {
  router.push(`/admin/sponsors/${id}`)
}

const searchSponsors = (text: string) => {
  filterQuery.search = text
  sponsorsStore.fetchSponsors(filterQuery)
}

const toggleSumBtn = (value: number) => {
  if (!filter.sponsorship_summ.includes(value)) {
    filter.sponsorship_summ.push(value)
  } else {
    filter.sponsorship_summ = filter.sponsorship_summ.filter(el => el !== value)
  }
  console.log(filter.sponsorship_summ)
}

const matchAllSum = () => {
  filter.sponsorship_summ = []
}
</script>
  
  <style scoped>
  </style>
  