<template>
  <div class="bg-gray-100 flex justify-center">
    <div class="max-w-screen-sm my-auto mx-auto p-5">
      <div class="flex justify-center mb-3">
        <img src="@/assets/icons/logo.svg" alt="">
      </div>
      <form @submit.prevent class="w-full rounded-lg px-8 py-5 bg-white">
        <h1 class="text-4xl py-5 font-black">Kirish</h1>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Login
            </label>
            <BaseInput id="first-name" class="bg-slate-100" placeholder="login" @keyup="validate('username')" @blur="validate('username')"
              v-model="login_data.username" />
            <p v-if="error_messages.username" class="text-red-500 text-xs italic">{{ error_messages.username }}</p>
          </div>
          <div class="w-full px-3 my-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Parol
            </label>
            <BaseInput class="bg-slate-100" type="password" id="first-name" placeholder="**********" @keyup="validate('password')"
              @blur="validate('password')" v-model="login_data.password" />
            <p v-if="error_messages.password" class="text-red-500 text-xs italic">{{ error_messages.password }}</p>
          </div>
          <div class="w-full px-3 mt-2">
            <BaseButton class="w-full rounded-md px-5 py-3 text-white mt-2 bg-indigo-500" @click="submit">
              Kirish
            </BaseButton>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { LoginBody } from '@/services/auth.service'
import { login } from '@/services/auth.service'

const router = useRouter()

const login_data = reactive<LoginBody>({
  username: '',
  password: ''
})
const error_messages = reactive<LoginBody>({
  username: '',
  password: ''
})

const validate = (fieldname: string) => {
  if (!login_data[fieldname]) {
    error_messages[fieldname] = "Bu maydonni to'ldirish majburiy"
    return false
  } else {
    error_messages[fieldname] = ''
    return true
  }
}
const submit = () => {
  if (validate('username') && validate('password')) {
    login(login_data).then(() => {
      router.push('/admin')
    })
  }
}
onMounted(() => {
  console.log(router)
})
</script>

<style scoped>
</style>