<template>
  <div class="bg-slate-100 flex justify-center h-full">
    <div class="bg-white w-3/5 rounded-lg p-8 my-12">
      <div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold">Homiy haqida</h1>
        <BaseButton class="bg-blue-200 text-blue-600">
          <CurrencyDollarIcon class="w-4 mr-2" />
          Tahrirlash
        </BaseButton>
      </div>
      <div class="flex items-center py-4">
        <div class="p-1 mr-2 w-16 bg-amber-200 rounded-md">
          <UserIcon class="text-amber-500" />
        </div>
        <div class="font-bold">
          Imya Familiya
        </div>
      </div>
      <div class="grid grid-cols-2 mt-3">
        <div>
          <div class="text-gray-400 font-bold uppercase text-sm">Telefon raqam</div>
          <div class="font-bold">+998 94 652 25 23</div>
        </div>
        <div>
          <div class="text-gray-400 font-bold uppercase text-sm">Telefon raqam</div>
          <div class="font-bold">+998 94 652 25 23</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { CurrencyDollarIcon, UserIcon } from '@heroicons/vue/solid'

</script>

<style scoped>
</style>