<template>
  <div class="px-24 py-6 flex justify-between items-center bg-white">
    <div>
      <BaseButton @click="router.push('/admin')"
        class="rounded-r-none rounded-l-md px-5 py-3  bg-inherit border border-indigo-500 text-xs px-16 hover:bg-indigo-500"
        :class="route.name === '/admin/' ? 'bg-indigo-500 text-white' : 'bg-inherit text-indigo-500'">
        Dashboard
      </BaseButton>
      <BaseButton @click="router.push('/admin/sponsors')"
        class="rounded-none bg-inherit px-5 py-3  border border-indigo-500 text-xs px-16 hover:text-white  hover:bg-indigo-500"
        :class="route.name === '/admin/sponsors/' ? 'bg-indigo-500 text-white' : 'bg-inherit text-indigo-500'">
        Homiylar
      </BaseButton>
      <BaseButton @click="router.push('/admin/students')"
        class="rounded-l-none rounded-r-md px-5 py-3 bg-inherit border border-indigo-500 text-xs px-16 hover:text-white  hover:bg-indigo-500"
        :class="route.name === '/admin/students/' ? 'bg-indigo-500 text-white' : 'bg-inherit text-indigo-500'">
        Talabalar
      </BaseButton>
    </div>
    <div class="flex items-center">
      <div class="bg-slate-300 rounded-md flex">
        <SearchIcon class="w-8 ml-2 text-slate-400" />
        <BaseInput v-model="search" @input="searchInput" class="bg-inherit border-0 focus:bg-inherit h-full mb-0" />
      </div>
      <div class="ml-5">
        <BaseButton class="bg-emerald-200 py-1 rounded-md px-12 text-xs text-cyan-500" @click="$emit('filterClicked')">
          <FilterIcon class="w-8 mr-2" />
          Filter
        </BaseButton>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PaperClipIcon, FilterIcon, SearchIcon } from '@heroicons/vue/solid'

const route = useRoute()
const router = useRouter()

const search = ref('')
let searchTimeout = 0

const emits = defineEmits(['search-input'])

const searchInput = () => {
  clearTimeout(searchTimeout)
  searchTimeout = setTimeout(() => {
    emits('search-input', search)
  }, 400)
}

</script>

<style scoped>
</style>