<template>
  <teleport to="body">
    <transition enter-active-class="transition ease-out duration-300 transform "
      enter-from-class="opacity-0 translate-y-10 scale-95" enter-to-class="opacity-100 translate-y-0 scale-100"
      leave-active-class="ease-in duration-200" leave-from-class="opacity-100 translate-y-0 scale-100"
      leave-to-class="opacity-0 translate-y-10 translate-y-0 scale-95">
      <div v-if="showModal" ref="modal-backdrop" class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50">
        <div class="flex items-start justify-center min-h-screen pt-24 text-center">
          <div class="bg-white relative rounded-lg text-left overflow-hidden shadow-xl p-8 w-1/2" role="dialog"
            ref="modal" aria-modal="true" aria-labelledby="modal-headline">
            <div class="flex items-center justify-between mb-4">
              <h1>{{ title }}</h1>
              <button @click="closeClick">
                <XIcon class="w-4 h-4" />
              </button>
            </div>
            <hr class="mb-5">
            <slot />
          </div>
        </div>
      </div>
    </transition>
  </teleport>
</template>

<script setup lang="ts">
import { XIcon } from '@heroicons/vue/solid'
const props = defineProps({
  show: {
    type: Boolean,
    default: false,
  },
  title: {
    type: String,
    default: 'TITLE'
  }
})

const showModal = ref(false);

watch(() => props.show, show => {
  showModal.value = show;
},
);

const emits = defineEmits(['closed'])

const closeClick = () => {
  showModal.value = false
  emits('closed')
}

</script>