<template>
  <div class="overflow-x-auto relative sm:rounded-lg">
    <table style="border-collapse:separate; border-spacing: 0 1em;"
      class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-inherit dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th v-for="(column, index) in columns" :key="`thead-${index}`" scope="col"
            :class="`py-3 px-6 ${column.class}`">
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="`tbody-row-${index}`"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 rounded-md overflow-hidden">
          <td v-for="column in columns" :key="`item-${index}`" class="py-4 px-6">
            <slot :name="`cell(${column.key})`" :index="index" :data="item">
              {{ item[column.key] }}
            </slot>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="flex justify-between items-center pt-4" aria-label="Table navigation">
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span
          class="font-semibold text-gray-900 dark:text-white">{{ (page - 1) * pageSize + 1 }}-{{ (page - 1) * pageSize + 10 }}</span> of <span
          class="font-semibold text-gray-900 dark:text-white">{{ itemsCount }}</span></span>
      <ul class="inline-flex items-center -space-x-px">
        <li>
          <button @click="clickPage(page - 1)"
            class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </li>
        <li>
          <button v-for="pageNumber in visiblePageNumbers" :key="pageNumber" @click="clickPage(pageNumber)" aria-current="page" class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border
            border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
            <span :class="{'text-blue-800 font-bold': pageNumber === page}">
              {{ pageNumber }}
            </span>
          </button>
        </li>
        <li>
          <button @click="clickPage(page + 1)"
            class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script setup lang="ts">
import type { PropType } from 'vue';


interface Thead {
  key: string
  label: string
  class?: string
}

const props = defineProps({
  columns: {
    type: Array as PropType<Thead[]>,
    default: [
      {
        key: 'name',
        label: 'Name'
      },
      {
        key: 'count',
        label: 'Count'
      }
    ]
  },
  items: {
    type: Array,
    default: [
      {
        count: 6,
        name: 'Sherzod',
        money: 'sssss'
      },
      {
        name: 'Sherzod',
        count: 6
      },
      {
        name: 'Sherzod',
        count: 6
      },
      {
        name: 'Sherzod',
        count: 6
      },
      {
        name: 'Sherzod',
        count: 6
      }
    ]
  },
  itemsCount: {
    type: Number,
    default: 0
  },
  page: {
    type: Number,
    default: 1
  },
  pageSize: {
    type: Number,
    default: 10
  }
})

const visiblePageNumbers = computed(() => {
  const last_page = Math.ceil(props.itemsCount / props.pageSize)
  if (last_page > 6) {
    if (props.page <= 4) {
      return [1, 2, 3, 4, 5, 6, '...', last_page]
    } else if (props.page + 2 >= last_page) {
      return [
        1,
        '...',
        last_page - 5,
        last_page - 4,
        last_page - 3,
        last_page - 2,
        last_page - 1,
        last_page
      ]
    } else {
      return [
        1,
        '...',
        props.page - 2,
        props.page - 1,
        props.page,
        props.page + 1,
        props.page + 2,
        '...',
        last_page
      ]
    }
  } else {
    return last_page
  }
})

const emits = defineEmits(['changePage'])

const clickPage = (page: number | string) => {
  if (typeof page === 'number' && page) {
    emits('changePage', page)
  }
}

</script>

<style scoped>
tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>