<template>
  <button 
    class="inline-flex items-center justify-center border
    text-base font-medium leading-6 transition duration-150 ease-in-out
    focus:outline-none"
    v-bind="$attrs"
  >
    <slot />
  </button>
</template>

<script setup lang="ts">

</script>

<style lang="scss" scoped>

</style>
