<template>
  <div class="bg-slate-100 h-screen">
    <div class="px-24 py-6 flex items-center bg-white w-full bg-white">
      <BaseButton @click="router.push('/admin/sponsors')" class="px-0 py-0 mr-4 border-0">
        <ArrowLeftIcon class="w-8" />
      </BaseButton>
      <h1 class="text-2xl font-bold">
        {{ sponsorsStore.single_sponsor.full_name }}
      </h1>
      <p class="px-2 py-1 ml-3 bg-green-200 rounded-md text-xs">
        {{ sponsorsStore.single_sponsor.get_status_display }}
      </p>
    </div>
    <div class="flex justify-center">
      <div class="bg-white w-3/5 rounded-lg p-8 my-12">
        <div class="flex justify-between items-center">
          <h1 class="text-2xl font-bold">Homiy haqida</h1>
          <BaseButton @click="editClick" class="bg-blue-200 py-3 px-5 rounded-md text-blue-600">
            <CurrencyDollarIcon class="w-4 mr-2" />
            Tahrirlash
          </BaseButton>
        </div>
        <div class="flex items-center py-4">
          <div class="p-1 mr-2 w-16 bg-amber-200 rounded-md">
            <UserIcon class="text-amber-500" />
          </div>
          <div class="font-bold">
            {{ sponsorsStore.single_sponsor.full_name }}
          </div>
        </div>
        <div class="grid grid-cols-2 mt-3 gap-y-5">
          <div>
            <div class="text-gray-400 font-bold uppercase text-sm">Telefon raqam</div>
            <div class="font-bold">{{ sponsorsStore.single_sponsor.phone }}</div>
          </div>
          <div>
            <div class="text-gray-400 font-bold uppercase text-sm">Homiylik summasi</div>
            <div class="font-bold">{{ useMoneyFormat(sponsorsStore.single_sponsor.sum) }}</div>
          </div>
          <div v-if="sponsorsStore.single_sponsor.firm">
            <div class="text-gray-400 font-bold uppercase text-sm">Tashkilot nomi</div>
            <div class="font-bold">{{ sponsorsStore.single_sponsor.firm }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <BaseModal @closed="showModal = false" :show="showModal" title="Tahrirlash">
    <div class="grid grid-cols-2 px-3 mb-4">
      <BaseButton @click="edited_data.is_legal = false"
        class="rounded-l-md px-5 border border-indigo-500 text-xs px-16 hover:bg-indigo-500 hover:text-white"
        :class="!edited_data.is_legal ? 'bg-indigo-500 text-white' : 'bg-inherit text-indigo-500'">
        Jismoniy shaxs
      </BaseButton>
      <BaseButton @click="edited_data.is_legal = true"
        class="rounded-r-md py-3 border border-indigo-500 text-xs px-16 hover:text-white hover:bg-indigo-500"
        :class="edited_data.is_legal ? 'bg-indigo-500 text-white' : 'bg-inherit text-indigo-500'">
        Yuridik shaxs
      </BaseButton>
    </div>
    <div v-if="edited_data.is_legal" class="w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Firma nomi
      </label>
      <BaseInput id="first-name" placeholder="Firma nomi" @keyup="validate('username')" @blur="validate('full_name')"
        v-model="edited_data.firm" />
      <p v-if="error_messages.firm" class="text-red-500 text-xs italic">{{ error_messages.firm }}</p>
    </div>
    <div v-else class="w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        F.I.SH (Ism sharif)
      </label>
      <BaseInput id="first-name" placeholder="FISH" @keyup="validate('full_name')" @blur="validate('full_name')"
        v-model="edited_data.full_name" />
      <p v-if="error_messages.full_name" class="text-red-500 text-xs italic">{{ error_messages.full_name }}</p>
    </div>
    
    <div class="w-full px-3 mt-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Telefon raqam
      </label>
      <BaseInput id="first-name" @keyup="validate('phone')" @blur="validate('phone')"
        v-model="edited_data.phone" v-maska="'+998 (##) ###-##-##'" />
      <p v-if="error_messages.phone" class="text-red-500 text-xs italic">{{ error_messages.phone }}</p>
    </div>
    <div class="px-3 my-6">
      <label for="apply-status">Holati</label>
      <VSelect id="apply-status" v-model="edited_data.status" :reduce="opt => opt.value" :options="status_options" />
    </div>
    <div class="px-3 mb-6">
      <label for="apply-status">Homiylik summasi</label>
      <VSelect id="apply-status" v-model="edited_data.tarif" :reduce="opt => opt.id" key="id" label="summa" :options="staticsStore.tariffs" />
    </div>
    <div class="px-3 mb-6">
      <label for="apply-status">To'lov turi</label>
      <VSelect id="apply-status" v-model="edited_data.payment_type" :reduce="opt => opt.id" :options="staticsStore.payment_types" key="id" label="title" />
    </div>
    <div class="flex justify-end mt-5">
      <BaseButton @click="saveUpdates" class="text-white text-xs px-5 rounded-md py-2 bg-indigo-600 hover:bg-indigo-500">
        Saqlash
      </BaseButton>
    </div>
  </BaseModal>
</template>

<script setup lang="ts">
import { CurrencyDollarIcon, UserIcon, ArrowLeftIcon } from '@heroicons/vue/solid'
import { useSponsors } from '@/stores/sponsors'
import { useMoneyFormat } from '@/composables/useMoneyFormat'
import VSelect from 'vue-select'
import { status_options, sposnorshim_summ_options } from '@/composables/useStaticVars'
import { useStatics } from '@/stores/statics'

const router = useRouter()
const route = useRoute()
const sponsorsStore = useSponsors()
const showModal = ref(false)
const staticsStore = useStatics()

const error_messages = reactive<any>({
  full_name: '',
  phone: '',
  firm: ''
})

let edited_data = ref({})

onMounted(() => {
  sponsorsStore.fetchSponsorDetails(route.params.id)
  staticsStore.fetchPaymentTypes()
  staticsStore.fetchTariffs()
})

const editClick = () => {
  edited_data.value = JSON.parse(JSON.stringify(sponsorsStore.single_sponsor))
  showModal.value = true
}

const validate = (fieldname: string) => {
  if (!edited_data.value[fieldname]) {
    error_messages[fieldname] = "Bu maydonni to'ldirish majburiy"
    return false
  } else {
    error_messages[fieldname] = ''
    return true
  }
}

const saveUpdates = () => {
  console.log(edited_data.value)
  sponsorsStore.editSponsor(edited_data.value).then(() => {
    showModal.value = false
  })
}

</script>

<style scoped>
</style>