
<template>
  <div>
    <header v-if="route.name !== '/login'">
      <MainHeader />
    </header>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script setup lang="ts">
import MainHeader from './layouts/MainHeader.vue'
const route = useRoute()
</script>