<template>
  <div>
    <div class="flex justify-between items-center drop-shadow-md px-24 py-5 bg-white">
      <div class="flex items-center">
        <img width="60.18" height="22.38" src="@/assets/icons/mainlogoIcon.svg" alt="main logo">
        <div class="flex flex-col ml-2">
          <span class="font-bold text-base mb-0">METSENAT</span>
          <small class="text-[8px] text-green-800">PRO</small>
        </div>
      </div>
      <div class="flex">
        <div class="flex items-center bg-slate-200 rounded p-1">
          <span class="mx-5 text-sm font-semibold">{{ TokenService.getUser().username }}</span>
          <div class="bg-green-400 px-1 pt-2 rounded">
            <img src="@/assets/icons/avatar.svg" alt="avatar">
          </div>
        </div>
        <div>
          <BaseButton @click="logout" class="bg-inherit hover:bg-inherit py-3 px-5 rounded-md border-0 ml-5">
            <img src="@/assets/icons/logoutIcon.svg" alt="logout">
          </BaseButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PaperClipIcon, FilterIcon, SearchIcon } from '@heroicons/vue/solid'
import TokenService from '@/services/token.service'

const route = useRoute()
const router = useRouter()
onMounted(() => {
  console.log(route)
})

const logout = () => {
  TokenService.removeTokensAndUser()
  router.push('/login')
}
</script>

<style scoped>
</style>
